{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section>
        <h1 class="display-1 text-center">Mi primer CRUD</h1>
        <p>Presento mi aplicación, una herramienta diseñada para optimizar la gestión de tareas. Ofrece a los usuarios la capacidad de agregar, eliminar y editar tareas de manera eficiente. Este proyecto representa mi incursión inicial en el mundo de la pogramacion con el famoso CRUD (Crear, Leer, Actualizar, Eliminar). Estoy dedicado a perfeccionar continuamente mis habilidades de desarrollo como pogramador Con aprecio, Yontan Escalona, 2023.”</p>
    

     <div class="text-center">
         <a class="btn btn-primary" href="/signin/">
            signin

        </a>

            <a class="btn btn-primary" href="/signup/">
                signup

            </a>
         
     </div>
</main>
{% endblock %} 